.navbar-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding: 1.5rem 0;
}


