:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(78, 78, 78, 0.87);
  background: linear-gradient(60deg, #cdf4fd, #fff4f4, #fff, #e7fdfd, #d4f3ff);
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.navbar-links ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}

